@import "includes/reset";

// Variables.
$head-font-family: 'Source Sans Pro', sans-serif;
$head-font-weight: 400;

$primary-color: #2aea8a;
$secondary-color: #ACACAC;
$black: #001f30;
$border-color: #F0F0F0;

// Global styles.
body {
  color: $black;
  font-family: $head-font-family;
  background: #F9F9F9;
}

a {
  color: $primary-color;
  text-decoration: none;
}

::selection {
  background: $primary-color; /* WebKit/Blink Browsers */
  color: #FFF;
}
::-moz-selection {
  background: $primary-color; /* Gecko Browsers */
  color: #FFF;
}

// Header.
header {
  text-align: center;
  padding: 20px;
  border-bottom: 1px dashed $border-color;
}

// Container
main {
  padding-top: 40px;
}

// Search.
#search {
  max-width: 400px;
  padding: 0 10px;
  margin: auto;
  position: relative;

  .fa-search {
    position: absolute;
    color: $primary-color;
    left: 10px;
    top:17px;
    font-size: 20px;
  }
  #search-input {
    border: none;
    outline: none;
    border-bottom: 2px solid $primary-color;
    width: calc(100% - 60px);
    background: none;
    padding: 15px 30px 15px 30px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .clean {
    position: absolute;
    color: $primary-color;
    right: 10px;
    top:17px;
    font-size: 20px;
  }

}

#categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding:5px;
  max-width: 800px;
  margin: auto;
  li {
    margin: 5px;
    a {
      display: block;
      background: $secondary-color;
      border-radius: 3px;
      color: #FFF;
      padding: 5px;
      transition: all .1s ease-in;
      i.fa-times-circle {
        transition: all .1s ease-in;
      }
      &.inactive {
        i.fa-times-circle {
          display: none;
        }
      }
      &.active {
        i.fa-times-circle {
          margin-left: 5px;
        }
        background: $primary-color;
      }
      &:hover {
        background: $primary-color;
        color: #FFF;
        i.fa-times-circle {
          color: $black;
        }
      }
    }
  }
}

h2.item-name {
  font-family: $head-font-family;
  font-weight: $head-font-weight;
  font-size: 21px;
  line-height: 22px;
  margin-top: 10px;
  em {
    color: $primary-color;
    font-weight: bold;
  }
}



// Results.
ul#items {
  // border: 1px solid red;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding:5px;
  li.item {
    // margin: auto;
    // width: 20%;
    margin: 5px;
    flex: 1 15%;
    min-width: 175px;
    //padding: 1px;
    .item-container {
      border: 1px solid $border-color;
      border-radius: 4px;
      overflow: hidden;
      // box-shadow: 0px 2px 0px rgba(0,0,0,0.1);
      transition: all .1s ease-in;
      .item-img {
        transition: all .2s ease-in;
        text-align: center;
        border-bottom: 1px solid $border-color;
        // background: $border-color;
        overflow: hidden;
        height: 148px;

        img {
          border-radius: 30px;
          margin-top: 20px;
          transition: all .1s ease-in;
        }

        .fa-question {
          font-size: 80px;
          margin-top: 49px;
          color: #CACACA;
        }
      }
      .item-content {
        padding: 10px;
        height: 90px;
        overflow: hidden;
        background: #FFF;
        .item-category {
          color: $secondary-color;
        }
      }
    }
    &.over {
      cursor: pointer;
      .item-container {
        border: 1px solid $primary-color;
        .item-img {
          background: #FFF;

          // background: darken($secondary-color, 5%);
          img {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

#no-results {
  text-align: center;
  margin-bottom: 20px;
  h3 {
    font-size: 30px;
    font-family: $head-font-family;
    font-weight: $head-font-weight;

  }
}

// Loader.

.loader {
  text-align: center;
  margin: 50px 0;
}

.scroll-top {
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
}