head
    meta(charset='utf-8')

    title Appligator
    meta(name='description', content='')

    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

    script(src='//cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js')
    script(src='//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.3.3/jquery.appear.min.js')


    script(src='js/app.js')

    link(rel='stylesheet', href='css/app.css', type='text/css')

    link(rel='icon', type='image/x-icon', href='favicon.ico')


